<div class="catalog-wrapper first-catalog">
    <nav class="catalog-menu">
        <ul class="catalog-menu-body">
            <li class="catalog-menu-item submenu-item"><a class="catalog-menu-body-link" href="#"><i class="catalog-menu-icon icon-washing"></i>Дрібна побутова техніка</a>
                <div class="catalog-menu-sub-wrapper">
                    <div class="sub-menu-body">
                        <div class="sub-menu-body-wrapper">
                            <a class="sub-menu-body-link" href="#">Прання, прасування і прибирання</a>
                            <div class="sub-menu-sub-items">
                                <a class="sub-menu-sub-item-link" href="#">Пральні машини</a>
                                <a class="sub-menu-sub-item-link" href="#">Праски</a>
                                <a class="sub-menu-sub-item-link" href="#">Пилососи</a>
                                <a class="sub-menu-sub-item-link" href="#">Роботи-пилососи</a>
                                <a class="sub-menu-sub-item-link" href="#">Сушильні машини та прилади</a>
                            </div>
                        </div>
                        <div class="sub-menu-body-wrapper">
                            <a class="sub-menu-body-link" href="#">Кліматична техніка</a>
                            <div class="sub-menu-sub-items">
                                <a class="sub-menu-sub-item-link" href="#">Кондиціонери</a>
                                <a class="sub-menu-sub-item-link" href="#">Вентилятори</a>
                                <a class="sub-menu-sub-item-link" href="#">Водонагрівачі</a>
                                <a class="sub-menu-sub-item-link" href="#">Проточні водонагрівачі</a>
                                <a class="sub-menu-sub-item-link" href="#">Зволожувачі повітря</a>
                            </div>
                        </div>
                        <div class="sub-menu-body-wrapper">
                            <a class="sub-menu-body-link" href="#">Аксесуари для прибирання</a>
                            <div class="sub-menu-sub-items">
                                <a class="sub-menu-sub-item-link" href="#">Аксесуари для пилососів</a>
                                <a class="sub-menu-sub-item-link" href="#">Аксесуари для прасок</a>
                                <a class="sub-menu-sub-item-link" href="#">Аксесуари для пароочисників</a>
                            </div>
                        </div>
                        <div class="sub-menu-body-wrapper">
                            <a class="sub-menu-body-link" href="#">Кліматична техніка</a>
                            <div class="sub-menu-sub-items">
                                <a class="sub-menu-sub-item-link" href="#">Кондиціонери</a>
                                <a class="sub-menu-sub-item-link" href="#">Вентилятори</a>
                                <a class="sub-menu-sub-item-link" href="#">Водонагрівачі</a>
                                <a class="sub-menu-sub-item-link" href="#">Проточні водонагрівачі</a>
                                <a class="sub-menu-sub-item-link" href="#">Зволожувачі повітря</a>
                            </div>
                        </div>
                        <div class="sub-menu-body-wrapper">
                            <a class="sub-menu-body-link" href="#">Аксесуари для прибирання</a>
                            <div class="sub-menu-sub-items">
                                <a class="sub-menu-sub-item-link" href="#">Аксесуари для пилососів</a>
                                <a class="sub-menu-sub-item-link" href="#">Аксесуари для прасок</a>
                                <a class="sub-menu-sub-item-link" href="#">Аксесуари для пароочисників</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="catalog-menu-item submenu-item"><a class="catalog-menu-body-link" href="#"><i class="catalog-menu-icon icon-kettle"></i>Дрібна кухонна техніка</a>
                <div class="catalog-menu-sub-wrapper">
                    <div class="sub-menu-body">
                        <div class="sub-menu-body-wrapper"><a class="sub-menu-body-link" href="#">Прання, прасування і прибирання</a></div>
                        <div class="sub-menu-body-wrapper"><a class="sub-menu-body-link" href="#">Аксесуари для прибирання</a></div>
                        <div class="sub-menu-body-wrapper">
                            <a class="sub-menu-body-link" href="#">Кліматична техніка</a>
                            <div class="sub-menu-sub-items">
                                <a class="sub-menu-sub-item-link" href="#">Аксесуари для пилососів</a>
                                <a class="sub-menu-sub-item-link" href="#">Аксесуари для прасок</a>
                                <a class="sub-menu-sub-item-link" href="#">Аксесуари для пароочисників</a>
                            </div>
                        </div>
                        <div class="sub-menu-body-wrapper"><a class="sub-menu-body-link" href="#">Кліматична техніка</a></div>
                        <div class="sub-menu-body-wrapper">
                            <a class="sub-menu-body-link" href="#">Кліматична техніка</a>
                            <div class="sub-menu-sub-items">
                                <a class="sub-menu-sub-item-link" href="#">Кондиціонери</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="catalog-menu-item submenu-item"><a class="catalog-menu-body-link" href="#"><i class="catalog-menu-icon icon-conditioner"></i>Кліматичне обладнання</a>
                <div class="catalog-menu-sub-wrapper">
                    <div class="sub-menu-body">
                        <div class="sub-menu-body-wrapper">
                            <a class="sub-menu-body-link" href="#">Прання, прасування і прибирання</a>
                            <div class="sub-menu-sub-items">
                                <a class="sub-menu-sub-item-link" href="#">Пральні машини</a>
                                <a class="sub-menu-sub-item-link" href="#">Праски</a>
                            </div>
                        </div>
                        <div class="sub-menu-body-wrapper">
                            <a class="sub-menu-body-link" href="#">Кліматична техніка</a>
                            <div class="sub-menu-sub-items">
                                <a class="sub-menu-sub-item-link" href="#">Кондиціонери</a>
                                <a class="sub-menu-sub-item-link" href="#">Вентилятори</a>
                            </div>
                        </div>
                        <div class="sub-menu-body-wrapper">
                            <a class="sub-menu-body-link" href="#">Аксесуари для прибирання</a>
                            <div class="sub-menu-sub-items">
                                <a class="sub-menu-sub-item-link" href="#">Аксесуари для пилососів</a>
                                <a class="sub-menu-sub-item-link" href="#">Аксесуари для прасок</a>
                                <a class="sub-menu-sub-item-link" href="#">Аксесуари для пароочисників</a>
                            </div>
                        </div>
                        <div class="sub-menu-body-wrapper">
                            <a class="sub-menu-body-link" href="#">Кліматична техніка</a>
                            <div class="sub-menu-sub-items">
                                <a class="sub-menu-sub-item-link" href="#">Кондиціонери</a>
                            </div>
                        </div>
                        <div class="sub-menu-body-wrapper">
                            <a class="sub-menu-body-link" href="#">Аксесуари для прибирання</a>
                            <div class="sub-menu-sub-items">
                                <a class="sub-menu-sub-item-link" href="#">Аксесуари для пилососів</a>
                                <a class="sub-menu-sub-item-link" href="#">Аксесуари для прасок</a>
                                <a class="sub-menu-sub-item-link" href="#">Аксесуари для пароочисників</a>
                            </div>
                        </div>
                        <div class="sub-menu-body-wrapper">
                            <a class="sub-menu-body-link" href="#">Кліматична техніка</a>
                            <div class="sub-menu-sub-items">
                                <a class="sub-menu-sub-item-link" href="#">Кондиціонери</a>
                                <a class="sub-menu-sub-item-link" href="#">Вентилятори</a>
                                <a class="sub-menu-sub-item-link" href="#">Водонагрівачі</a>
                            </div>
                        </div>
                        <div class="sub-menu-body-wrapper">
                            <a class="sub-menu-body-link" href="#">Аксесуари для прибирання</a>
                            <div class="sub-menu-sub-items">
                                <a class="sub-menu-sub-item-link" href="#">Аксесуари для пилососів</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="catalog-menu-item"><a class="catalog-menu-body-link" href="#"><i class="catalog-menu-icon icon-hair"></i>Здоров’я та краса</a></li>
            <li class="catalog-menu-item"><a class="catalog-menu-body-link" href="#"><i class="catalog-menu-icon icon-drill"></i>Інструменти для дому</a></li>
            <li class="catalog-menu-item"><a class="catalog-menu-body-link" href="#"><i class="catalog-menu-icon icon-bedside"></i>Для дому</a></li>
            <li class="catalog-menu-item"><a class="catalog-menu-body-link" href="#"><i class="catalog-menu-icon icon-speakers"></i>Аудіо</a></li>
            <li class="catalog-menu-item"><a class="catalog-menu-body-link" href="#"><i class="catalog-menu-icon icon-garden"></i>Сад та город</a></li>
            <li class="catalog-menu-item"><a class="catalog-menu-body-link" href="#"><i class="catalog-menu-icon icon-hair"></i>Здоров’я та краса</a></li>
            <li class="catalog-menu-item"><a class="catalog-menu-body-link" href="#"><i class="catalog-menu-icon icon-drill"></i>Інструменти для дому</a></li>
            <li class="catalog-menu-item"><a class="catalog-menu-body-link" href="#"><i class="catalog-menu-icon icon-bedside"></i>Для дому</a></li>
            <li class="catalog-menu-item"><a class="catalog-menu-body-link" href="#"><i class="catalog-menu-icon icon-speakers"></i>Аудіо</a></li>
        </ul>
    </nav>
</div>