<div class="catalog-wrapper">
    <nav class="catalog-menu">
        <ul class="catalog-menu-body">
            <li class="catalog-menu-item"><a href="#"><i class="catalog-menu-icon icon-washing"></i>Дрібна побутова техніка</a></li>
            <li class="catalog-menu-item"><a href="#"><i class="catalog-menu-icon icon-kettle"></i>Дрібна кухонна технік</a></li>
            <li class="catalog-menu-item"><a href="#"><i class="catalog-menu-icon icon-conditioner"></i>Кліматичне обладнання</a></li>
            <li class="catalog-menu-item"><a href="#"><i class="catalog-menu-icon icon-hair"></i>Здоров’я, краса</a></li>
            <li class="catalog-menu-item"><a href="#"><i class="catalog-menu-icon icon-drill"></i>Інструменти для дому</a></li>
            <li class="catalog-menu-item"><a href="#"><i class="catalog-menu-icon icon-bedside"></i>Для дому</a></li>
            <li class="catalog-menu-item"><a href="#"><i class="catalog-menu-icon icon-speakers"></i>Аудіо</a></li>
            <li class="catalog-menu-item"><a href="#"><i class="catalog-menu-icon icon-garden"></i>Сад та город</a></li>
            <li class="catalog-menu-item"><a href="#"><i class="catalog-menu-icon icon-bedside"></i>Для дому</a></li>
            <li class="catalog-menu-item"><a href="#"><i class="catalog-menu-icon icon-speakers"></i>Аудіо</a></li>
            <li class="catalog-menu-item"><a href="#"><i class="catalog-menu-icon icon-garden"></i>Сад та город</a></li>
        </ul>
    </nav>
</div>