<header class="header">
    <div class="header-top">
        <div class="header-top-body container">
            <span class="header-top-body-slogan">Шалені акції обирай своє!</span>
            <strong class="header-top-body-slogan-strong">Тільки 4 дні</strong>
            <a class="header-top-body-button" href="#">до покупок</a>
        </div>
    </div>
    <div class="header-body">
        <div class="header-body-content container">
            <a class="header-logo" href="#"><img src="/images/logo.svg"></a>
            <nav class="header-body-menu">
                <ul class="header-body-menu-content">
                    <li class="header-body-menu-item"><a href="#">Головна</a></li>
                    <li class="header-body-menu-item"><a href="#">Акції</a></li>
                    <li class="header-body-menu-item"><a href="#">Про нас</a></li>
                    <li class="header-body-menu-item"><a href="#">Контакти</a></li>
                    <li class="header-body-menu-item"><a href="#">Доставка та оплата</a></li>
                </ul>
            </nav>
            <div class="header-body-call">
                <span class="header-body-call-number">+38 (050) 321 76 87</span>
                <a class="header-body-call-back" href="#">Зворотний дзвінок</a>
            </div>
            <div class="header-body-interactive">
                <a class="header-login-panel-link" href="">Увійти до особистого кабінету</a>
                <div class="header-language-panel">
                    <img class="language-icon ua" src="/images/icons/ua.svg">
                    <span class="language-title">UA</span>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">

    </div>
</header>