<header class="header sticky-header sticky">
    <div class="header-top">
        <div class="header-top-body container">
            <span class="header-top-body-slogan">Шалені акції обирай своє!</span>
            <strong class="header-top-body-slogan-strong">Тільки 4 дні</strong>
            <a class="header-top-body-button" href="#">до покупок</a>
        </div>
    </div>
    <div class="header-body sticky-header-smartphone">
        <div class="header-body-content container">
            <a class="header-open-burger" href="#"><i class="icon-burger"></i></a>
            <a class="header-logo" href="#"><img src="/images/logo.svg" alt="logo"></a>
            <nav class="header-body-menu">
                <ul class="header-body-menu-content">
                    <li class="header-body-menu-item"><a href="#">Головна</a></li>
                    <li class="header-body-menu-item"><a href="#">Акції</a></li>
                    <li class="header-body-menu-item"><a href="#">Про нас</a></li>
                    <li class="header-body-menu-item"><a href="#">Контакти</a></li>
                    <li class="header-body-menu-item"><a href="#">Доставка та оплата</a></li>
                </ul>
            </nav>
            <div class="hide-search" href="#">
                <!-- add search form to icon -->
                <i class="icon-search-over"></i>
                <div class="hide-search-wrapper search-body">
                    <div class="search-body-wrapper">
                        <input class="search-body-input" type="text" name="search" placeholder="Я шукаю...">
                    </div>
                </div>
            </div>
            <div class="header-body-call">
                <i class="header-body-call-icon icon-call-over open-call-tab"></i>
                <span class="header-body-call-number open-call-tab call-hide">+38 (050) 321 76 87</span>
                <a class="header-body-call-back call-hide" href="#">Зворотний дзвінок</a>
            </div>
            <div class="header-body-interactive">
                <a class="header-login-panel-link-icon open-cabinet-dialog" href=""><i class="icon-person-over"></i></a>
                <a class="header-login-panel-link open-cabinet-dialog login-hide-link" href="">Увійти до особистого кабінету</a>
                <div class="header-language-panel open-language-tab">
                    <img class="language-icon ua language-hide-icon" src="/images/icons/ua.svg">
                    <span class="language-title">UA</span>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="header-bottom-body container">
            <div class="header-catalog catalog-close">
                <i class="header-catalog-icon icon-menu"></i>
                <span class="header-catalog-title">Каталог товарів</span>
            </div>
            <div class="header-bottom-search search-body">
                <div class="search-body-wrapper">
                    <i class="icon-search search-body-icon"></i>
                    <input class="search-body-input" type="text" name="search" placeholder="Я шукаю...">
                </div>
                <button class="search-body-button">Знайти</button>
            </div>
            <div class="header-bottom-interactive">
                <!-- .compare-active if there is an item -->
                <a href="#" class="header-compare compare-active">
                    <i class="icon-compare"></i>
                    <span class="item-number">2</span>
                </a>
                <!-- .favorites-active if there is an item -->
                <a href="#" class="header-favorites favorites-active">
                    <i class="icon-favorites"></i>
                    <span class="item-number">2</span>
                </a>
                <div class="header-cart header-cart-active">
                    <!-- .header-cart-active if there is an item in the cart -->
                    <i class="icon-cart header-cart-icon"></i>
                    <div class="cart-interactive">
                        <span class="cart-interactive-title">Кошик</span>
                        <span class="cart-interactive-numbers">
                            <!-- display none if cart active -->
                            <span class="cart-interactive-text">Обрати товари</span>
                            <!-- /////////////////////////// -->
                            <span class="cart-interactive-text-active">
                                <span id="cart-item-number">2</span>
                                <span id="cart-item-title">товари</span>
                            </span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="catalog catalog-header catalog-close">
                <div class="catalog-body container">
                        <div class="catalog-open-background"></div>
                        <div class="catalog-wrapper first-catalog">
    <nav class="catalog-menu">
        <ul class="catalog-menu-body">
            <li class="catalog-menu-item submenu-item"><a class="catalog-menu-body-link" href="#"><i class="catalog-menu-icon icon-washing"></i>Дрібна побутова техніка</a>
                <div class="catalog-menu-sub-wrapper">
                    <div class="sub-menu-body">
                        <div class="sub-menu-body-wrapper">
                            <a class="sub-menu-body-link" href="#">Прання, прасування і прибирання</a>
                            <div class="sub-menu-sub-items">
                                <a class="sub-menu-sub-item-link" href="#">Пральні машини</a>
                                <a class="sub-menu-sub-item-link" href="#">Праски</a>
                                <a class="sub-menu-sub-item-link" href="#">Пилососи</a>
                                <a class="sub-menu-sub-item-link" href="#">Роботи-пилососи</a>
                                <a class="sub-menu-sub-item-link" href="#">Сушильні машини</a>
                            </div>
                        </div>
                        <div class="sub-menu-body-wrapper">
                            <a class="sub-menu-body-link" href="#">Кліматична техніка</a>
                            <div class="sub-menu-sub-items">
                                <a class="sub-menu-sub-item-link" href="#">Кондиціонери</a>
                                <a class="sub-menu-sub-item-link" href="#">Вентилятори</a>
                                <a class="sub-menu-sub-item-link" href="#">Водонагрівачі</a>
                                <a class="sub-menu-sub-item-link" href="#">Проточні водонагрівачі</a>
                                <a class="sub-menu-sub-item-link" href="#">Зволожувачі повітря</a>
                            </div>
                        </div>
                        <div class="sub-menu-body-wrapper">
                            <a class="sub-menu-body-link" href="#">Аксесуари для прибирання</a>
                            <div class="sub-menu-sub-items">
                                <a class="sub-menu-sub-item-link" href="#">Аксесуари для пилососів</a>
                                <a class="sub-menu-sub-item-link" href="#">Аксесуари для прасок</a>
                                <a class="sub-menu-sub-item-link" href="#">Аксесуари для пароочисників</a>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="catalog-menu-item submenu-item"><a class="catalog-menu-body-link" href="#"><i class="catalog-menu-icon icon-kettle"></i>Дрібна кухонна техніка</a>
                <div class="catalog-menu-sub-wrapper">
                    <div class="sub-menu-body">
                        <div class="sub-menu-body-wrapper"><a class="sub-menu-body-link" href="#">Витяжки</a></div>
                        <div class="sub-menu-body-wrapper"><a class="sub-menu-body-link" href="#">Індукційні/газові плити</a></div>
                        <div class="sub-menu-body-wrapper"><a class="sub-menu-body-link" href="#">Холодильники</a></div>
                        <div class="sub-menu-body-wrapper"><a class="sub-menu-body-link" href="#">Кавомашини</a></div>
                        <div class="sub-menu-body-wrapper"><a class="sub-menu-body-link" href="#">Мікрохвильові печі/Духовки</a></div>
                        <div class="sub-menu-body-wrapper"><a class="sub-menu-body-link" href="#">Фритюрниці</a></div>
                        <div class="sub-menu-body-wrapper"><a class="sub-menu-body-link" href="#">Комбайни/тістоміси</a></div>
                        <div class="sub-menu-body-wrapper"><a class="sub-menu-body-link" href="#">Електрочайники</a></div>
                        <div class="sub-menu-body-wrapper"><a class="sub-menu-body-link" href="#">Грилі/Бутербродниці/Вафельниці</a></div>
                        <div class="sub-menu-body-wrapper"><a class="sub-menu-body-link" href="#">Льдогонератори/Морожениці</a></div>
                        <div class="sub-menu-body-wrapper"><a class="sub-menu-body-link" href="#">Су-вид/Дегідратори/Стерилізатори/Електрокастрюлі</a></div>
                        <div class="sub-menu-body-wrapper"><a class="sub-menu-body-link" href="#">Вакууматори</a></div>
                        <div class="sub-menu-body-wrapper"><a class="sub-menu-body-link" href="#">Блендери</a></div>
                        <div class="sub-menu-body-wrapper"><a class="sub-menu-body-link" href="#">Соковитискачі</a></div>
                    </div>
                </div>
            </li>
            <li class="catalog-menu-item submenu-item"><a class="catalog-menu-body-link" href="#"><i class="catalog-menu-icon icon-conditioner"></i>Кліматичне обладнання</a>
                <div class="catalog-menu-sub-wrapper">
                    <div class="sub-menu-body">
                        <div class="sub-menu-body-wrapper">
                            <a class="sub-menu-body-link" href="#">Тепловентилятори</a>
                            <div class="sub-menu-sub-items">
                                <a class="sub-menu-sub-item-link" href="#">Керамічні тепловентилятори</a>
                                <a class="sub-menu-sub-item-link" href="#">Металеві тепловентилятори</a>
                            </div>
                        </div>
                        <div class="sub-menu-body-wrapper">
                            <a class="sub-menu-body-link" href="#">Масляні обігрівачі</a>
                            <div class="sub-menu-sub-items">
                                <a class="sub-menu-sub-item-link" href="#">Обігрівачі на 7 секцій</a>
                                <a class="sub-menu-sub-item-link" href="#">Обігрівачі на 9 секцій</a>
                                <a class="sub-menu-sub-item-link" href="#">Обігрівачі на 11 секцій</a>
                            </div>
                        </div>
                        <div class="sub-menu-body-wrapper">
                            <a class="sub-menu-body-link" href="#">Інфрачервоні обігрівачі</a>
                            <div class="sub-menu-sub-items">
                                <a class="sub-menu-sub-item-link" href="#">Обігрівачі Ufo</a>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </li>
            <li class="catalog-menu-item submenu-item"><a class="catalog-menu-body-link" href="#"><i class="catalog-menu-icon icon-hair"></i>Здоров’я і краса</a>
                <div class="catalog-menu-sub-wrapper">
                    <div class="sub-menu-body">
                        <div class="sub-menu-body-wrapper">
                            <a class="sub-menu-body-link" href="#">Спорт</a>
                            <div class="sub-menu-sub-items">
                                <a class="sub-menu-sub-item-link" href="#">Тренажери і спортивне обладнання</a>
                                <a class="sub-menu-sub-item-link" href="#">Інвентар для спорту</a>
                                <a class="sub-menu-sub-item-link" href="#">Велосипеди</a>
                                <a class="sub-menu-sub-item-link" href="#">Самокати</a>
                                <a class="sub-menu-sub-item-link" href="#">Скейтборди</a>
                                <a class="sub-menu-sub-item-link" href="#">Батути</a>
                            </div>
                        </div>
                        <div class="sub-menu-body-wrapper">
                            <a class="sub-menu-body-link" href="#">Кемпінг і пікнік</a>
                            <div class="sub-menu-sub-items">
                                <a class="sub-menu-sub-item-link" href="#">Термопродукція</a>
                                <a class="sub-menu-sub-item-link" href="#">Термоси і термокружки</a>
                                <a class="sub-menu-sub-item-link" href="#">Набори для пікніка</a>
                                <a class="sub-menu-sub-item-link" href="#">Меблі для саду та кемпінгу</a>
                                <a class="sub-menu-sub-item-link" href="#">Пляшки для води</a>
                                <a class="sub-menu-sub-item-link" href="#">Грилі, барбекю, мангали</a>
                            </div>
                        </div>
                        <div class="sub-menu-body-wrapper">
                            <a class="sub-menu-body-link" href="#">Риболовля</a>
                            <div class="sub-menu-sub-items">
                                <a class="sub-menu-sub-item-link" href="#">Вудилища</a>
                                <a class="sub-menu-sub-item-link" href="#">Котушки</a>
                                <a class="sub-menu-sub-item-link" href="#">Ліски і Шнури</a>
                                <a class="sub-menu-sub-item-link" href="#">Гачки</a>
                            </div>
                        </div>
                        <div class="sub-menu-body-wrapper">
                            <a class="sub-menu-body-link" href="#">Валізи на колесах</a>
                            <div class="sub-menu-sub-items">
                                <a class="sub-menu-sub-item-link" href="#">Дорожня сумка</a>
                                <a class="sub-menu-sub-item-link" href="#">Дорожня валіза</a>
                                <a class="sub-menu-sub-item-link" href="#">Чохол для валізи</a>
                            </div>
                        </div>
                        <div class="sub-menu-body-wrapper">
                            <a class="sub-menu-body-link" href="#">Туризм</a>
                            <div class="sub-menu-sub-items">
                                <a class="sub-menu-sub-item-link" href="#">Килимки</a>
                                <a class="sub-menu-sub-item-link" href="#">Намети</a>
                                <a class="sub-menu-sub-item-link" href="#">Спальники</a>
                            </div>
                        </div>
                        <div class="sub-menu-body-wrapper">
                            <a class="sub-menu-body-link" href="#">Рюкзаки</a>
                        </div>
                    </div>
                </div>
            </li>
            <li class="catalog-menu-item"><a class="catalog-menu-body-link" href="#"><i class="catalog-menu-icon icon-drill"></i>Інструменти</a></li>
            <li class="catalog-menu-item"><a class="catalog-menu-body-link" href="#"><i class="catalog-menu-icon icon-bedside"></i>Для дому</a></li>
            <li class="catalog-menu-item"><a class="catalog-menu-body-link" href="#"><i class="catalog-menu-icon icon-speakers"></i>Аудіо</a></li>
            <li class="catalog-menu-item"><a class="catalog-menu-body-link" href="#"><i class="catalog-menu-icon icon-garden"></i>Сад та город</a></li>
        </ul>
    </nav>
</div>
                </div>
            </div>
        </div>
    </div>
</header>